In [3]:
import pandas as pd
import numpy as np
from Processing import missing_values
# from Processing import corr_feature_detect, univariate_roc_auc, univariate_mse
# from sklearn.model_selection import train_test_split
# from Processing import mutual_info
# from sklearn.preprocessing import LabelEncoder

In [4]:
df = pd.read_excel('dataset.xlsx')
# df['Class'] = df['Class'].replace('I','F')
# df = df.set_index('Id')
df.head()

,Patient ID,Patient age quantile,SARS-Cov-2 exam result,"Patient addmited to regular ward (1=yes, 0=no)","Patient addmited to semi-intensive unit (1=yes, 0=no)","Patient addmited to intensive care unit (1=yes, 0=no)",Hematocrit,Hemoglobin,Platelets,Mean platelet volume,...,Hb saturation (arterial blood gases),pCO2 (arterial blood gas analysis),Base excess (arterial blood gas analysis),pH (arterial blood gas analysis),Total CO2 (arterial blood gas analysis),HCO3 (arterial blood gas analysis),pO2 (arterial blood gas analysis),Arteiral Fio2,Phosphor,ctO2 (arterial blood gas analysis)
0,44477f75e8169d2,13,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,126e9dd13932f68,17,negative,0,0,0,0.236515,-0.02234,-0.517413,0.010677,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,a46b4402a0e5696,8,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,f7d619a94f97c45,5,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,d9e41465789c2b5,15,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.describe()

,Patient age quantile,"Patient addmited to regular ward (1=yes, 0=no)","Patient addmited to semi-intensive unit (1=yes, 0=no)","Patient addmited to intensive care unit (1=yes, 0=no)",Hematocrit,Hemoglobin,Platelets,Mean platelet volume,Red blood Cells,Lymphocytes,...,Hb saturation (arterial blood gases),pCO2 (arterial blood gas analysis),Base excess (arterial blood gas analysis),pH (arterial blood gas analysis),Total CO2 (arterial blood gas analysis),HCO3 (arterial blood gas analysis),pO2 (arterial blood gas analysis),Arteiral Fio2,Phosphor,ctO2 (arterial blood gas analysis)
count,5644.000000,5644.000000,5644.000000,5644.000000,6.030000e+02,6.030000e+02,6.020000e+02,5.990000e+02,6.020000e+02,6.020000e+02,...,2.700000e+01,2.700000e+01,2.700000e+01,2.700000e+01,2.700000e+01,2.700000e+01,2.700000e+01,2.000000e+01,2.000000e+01,2.700000e+01
mean,9.318391,0.013997,0.008859,0.007264,-2.186214e-09,-1.601319e-08,-3.535004e-10,7.438142e-09,8.424447e-09,-7.866736e-09,...,-1.379737e-10,8.416397e-09,-1.655685e-09,4.139211e-10,-7.472139e-09,6.070843e-09,-2.469729e-08,4.656613e-09,6.332993e-09,5.243001e-09
std,5.777903,0.117489,0.093713,0.084929,1.000830e+00,1.000830e+00,1.000832e+00,1.000836e+00,1.000832e+00,1.000832e+00,...,1.019049e+00,1.019049e+00,1.019049e+00,1.019049e+00,1.019049e+00,1.019049e+00,1.019049e+00,1.025978e+00,1.025978e+00,1.019049e+00
min,0.000000,0.000000,0.000000,0.000000,-4.501420e+00,-4.345603e+00,-2.552426e+00,-2.457575e+00,-3.970608e+00,-1.865070e+00,...,-1.999560e+00,-1.244817e+00,-3.082674e+00,-3.568877e+00,-2.925618e+00,-2.985592e+00,-1.175907e+00,-1.532932e+00,-1.480526e+00,-2.900254e+00
25%,4.000000,0.000000,0.000000,0.000000,-5.188074e-01,-5.862439e-01,-6.053457e-01,-6.624832e-01,-5.679496e-01,-7.307069e-01,...,-1.122574e+00,-5.348102e-01,-3.308668e-01,-9.210583e-02,-5.117720e-01,-5.397211e-01,-8.169898e-01,-1.214975e-01,-5.527296e-01,-4.852787e-01
50%,9.000000,0.000000,0.000000,0.000000,5.340703e-02,4.031596e-02,-1.217160e-01,-1.015171e-01,1.385207e-02,-1.426696e-02,...,2.677689e-01,-2.120799e-01,-1.181667e-02,2.942021e-01,7.743482e-02,5.633191e-02,-1.599549e-01,-1.174366e-02,-1.381825e-01,1.826928e-01
75%,14.000000,0.000000,0.000000,0.000000,7.171751e-01,7.295320e-01,5.314981e-01,6.838353e-01,6.661759e-01,5.976919e-01,...,7.383496e-01,2.305214e-02,6.661649e-01,5.115003e-01,4.385609e-01,5.085100e-01,4.500090e-01,-1.174366e-02,2.763648e-01,5.937525e-01
max,19.000000,1.000000,1.000000,1.000000,2.662704e+00,2.671868e+00,9.532034e+00,3.713052e+00,3.645706e+00,3.764100e+00,...,1.337265e+00,3.236524e+00,1.703078e+00,1.042674e+00,1.940087e+00,2.029471e+00,2.205371e+00,2.841856e+00,2.862350e+00,1.826932e+00

In [6]:
ms = missing_values(df)

In [7]:
cnt = 0
for col in df.columns.to_list() :
    if ms.check_missing()['total missing'][col] != 0 :
        cnt += 1
print('Number of columns with missing values : ', cnt)
ms.check_missing()

Number of columns with missing values :  105

                                                    total missing  proportion
Patient ID                                                      0    0.000000
Patient age quantile                                            0    0.000000
SARS-Cov-2 exam result                                          0    0.000000
Patient addmited to regular ward (1=yes, 0=no)                  0    0.000000
Patient addmited to semi-intensive unit (1=yes,...              0    0.000000
...                                                           ...         ...
HCO3 (arterial blood gas analysis)                           5617    0.995216
pO2 (arterial blood gas analysis)                            5617    0.995216
Arteiral Fio2                                                5624    0.996456
Phosphor                                                     5624    0.996456
ctO2 (arterial blood gas analysis)                           5617    0.995216

[111 rows x 2 columns]

If we drop the columns

In [8]:
# Printing the number of columns that have a rate = 0 %
print('Number of cols after droping : ',ms.drop_missing(axis = 1).shape[1])
# 111 - 105 = 6

Number of cols after droping :  6

If we drop the Rows

In [9]:
# Printing the number of Rows that have no missing samples
print('Number of Rows after droping : ',ms.drop_missing(axis = 0).shape[0])

Number of Rows after droping :  0

### Indexing and Imputation

Indexing Samples with missing value related to each column

In [10]:
# For Example we will take the list of columns that have a rate of missing values >= 95%
col_ms_list = []
for col in df.columns.to_list() :
    if ms.check_missing()['proportion'][col] >= 0.95 :
        col_ms_list.append(col)
print('Number of cols with a rate > 0.95 : ', len(col_ms_list)) # 65 cols with a rate > 95% 

ms.add_var_denote_NA(NA_col=col_ms_list) # if an observation is missing for a col > 1, otherwise > 0

Number of cols with a rate > 0.95 :  65

,Patient ID,Patient age quantile,SARS-Cov-2 exam result,"Patient addmited to regular ward (1=yes, 0=no)","Patient addmited to semi-intensive unit (1=yes, 0=no)","Patient addmited to intensive care unit (1=yes, 0=no)",Hematocrit,Hemoglobin,Platelets,Mean platelet volume,...,Hb saturation (arterial blood gases)_is_NA,pCO2 (arterial blood gas analysis)_is_NA,Base excess (arterial blood gas analysis)_is_NA,pH (arterial blood gas analysis)_is_NA,Total CO2 (arterial blood gas analysis)_is_NA,HCO3 (arterial blood gas analysis)_is_NA,pO2 (arterial blood gas analysis)_is_NA,Arteiral Fio2_is_NA,Phosphor_is_NA,ctO2 (arterial blood gas analysis)_is_NA
0,44477f75e8169d2,13,negative,0,0,0,NaN,NaN,NaN,NaN,...,1,1,1,1,1,1,1,1,1,1
1,126e9dd13932f68,17,negative,0,0,0,0.236515,-0.022340,-0.517413,0.010677,...,1,1,1,1,1,1,1,1,1,1
2,a46b4402a0e5696,8,negative,0,0,0,NaN,NaN,NaN,NaN,...,1,1,1,1,1,1,1,1,1,1
3,f7d619a94f97c45,5,negative,0,0,0,NaN,NaN,NaN,NaN,...,1,1,1,1,1,1,1,1,1,1
4,d9e41465789c2b5,15,negative,0,0,0,NaN,NaN,NaN,NaN,...,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5639,ae66feb9e4dc3a0,3,positive,0,0,0,NaN,NaN,NaN,NaN,...,1,1,1,1,1,1,1,1,1,1
5640,517c2834024f3ea,17,negative,0,0,0,NaN,NaN,NaN,NaN,...,1,1,1,1,1,1,1,1,1,1
5641,5c57d6037fe266d,4,negative,0,0,0,NaN,NaN,NaN,NaN,...,1,1,1,1,1,1,1,1,1,1
5642,c20c44766f28291,10,negative,0,0,0,NaN,NaN,NaN,NaN,...,1,1,1,1,1,1,1,1,1,1
5643,2697fdccbfeb7f7,19,positive,0,0,0,0.694287,0.541564,-0.906829,-0.325903,...,1,1,1,1,1,1,1,1,1,1

In [11]:
# try the last method with a variable without missing observations
col = ["Patient ID"] # Remember to convert it to a list even if it has len equal 1
ms.add_var_denote_NA(NA_col = col) # warn check, it's a waste of time if we put an index to each observation

c:\Users\19_4A\Documents\GitHub\Into-the-wild-of-Data-Science\OOP\Processing.py:62: UserWarning: Column 'Patient ID' has no missing cases
  warn("Column '%s' has no missing cases" % i)

,Patient ID,Patient age quantile,SARS-Cov-2 exam result,"Patient addmited to regular ward (1=yes, 0=no)","Patient addmited to semi-intensive unit (1=yes, 0=no)","Patient addmited to intensive care unit (1=yes, 0=no)",Hematocrit,Hemoglobin,Platelets,Mean platelet volume,...,Hb saturation (arterial blood gases),pCO2 (arterial blood gas analysis),Base excess (arterial blood gas analysis),pH (arterial blood gas analysis),Total CO2 (arterial blood gas analysis),HCO3 (arterial blood gas analysis),pO2 (arterial blood gas analysis),Arteiral Fio2,Phosphor,ctO2 (arterial blood gas analysis)
0,44477f75e8169d2,13,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,126e9dd13932f68,17,negative,0,0,0,0.236515,-0.022340,-0.517413,0.010677,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,a46b4402a0e5696,8,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,f7d619a94f97c45,5,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,d9e41465789c2b5,15,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5639,ae66feb9e4dc3a0,3,positive,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5640,517c2834024f3ea,17,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5641,5c57d6037fe266d,4,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5642,c20c44766f28291,10,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5643,2697fdccbfeb7f7,19,positive,0,0,0,0.694287,0.541564,-0.906829,-0.325903,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Imputation

In [12]:
# using the same list col_ms_list
# we will choose the columns form col_ms_list that are numerical and remove others
ls_number = df.select_dtypes(include=np.number).columns
for element in col_ms_list:
         if (element in ls_number) != True :
              col_ms_list.remove(element)
len(col_ms_list) # previous : 65, now : 57
# we're sure that all cols are numerical
value = 999
ms.impute_NA_with_arbitrary(impute_value = value, NA_col = col_ms_list)

,Patient ID,Patient age quantile,SARS-Cov-2 exam result,"Patient addmited to regular ward (1=yes, 0=no)","Patient addmited to semi-intensive unit (1=yes, 0=no)","Patient addmited to intensive care unit (1=yes, 0=no)",Hematocrit,Hemoglobin,Platelets,Mean platelet volume,...,Hb saturation (arterial blood gases)_999,pCO2 (arterial blood gas analysis)_999,Base excess (arterial blood gas analysis)_999,pH (arterial blood gas analysis)_999,Total CO2 (arterial blood gas analysis)_999,HCO3 (arterial blood gas analysis)_999,pO2 (arterial blood gas analysis)_999,Arteiral Fio2_999,Phosphor_999,ctO2 (arterial blood gas analysis)_999
0,44477f75e8169d2,13,negative,0,0,0,NaN,NaN,NaN,NaN,...,999.0,999.0,999.0,999.0,999.0,999.0,999.0,999.0,999.0,999.0
1,126e9dd13932f68,17,negative,0,0,0,0.236515,-0.022340,-0.517413,0.010677,...,999.0,999.0,999.0,999.0,999.0,999.0,999.0,999.0,999.0,999.0
2,a46b4402a0e5696,8,negative,0,0,0,NaN,NaN,NaN,NaN,...,999.0,999.0,999.0,999.0,999.0,999.0,999.0,999.0,999.0,999.0
3,f7d619a94f97c45,5,negative,0,0,0,NaN,NaN,NaN,NaN,...,999.0,999.0,999.0,999.0,999.0,999.0,999.0,999.0,999.0,999.0
4,d9e41465789c2b5,15,negative,0,0,0,NaN,NaN,NaN,NaN,...,999.0,999.0,999.0,999.0,999.0,999.0,999.0,999.0,999.0,999.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5639,ae66feb9e4dc3a0,3,positive,0,0,0,NaN,NaN,NaN,NaN,...,999.0,999.0,999.0,999.0,999.0,999.0,999.0,999.0,999.0,999.0
5640,517c2834024f3ea,17,negative,0,0,0,NaN,NaN,NaN,NaN,...,999.0,999.0,999.0,999.0,999.0,999.0,999.0,999.0,999.0,999.0
5641,5c57d6037fe266d,4,negative,0,0,0,NaN,NaN,NaN,NaN,...,999.0,999.0,999.0,999.0,999.0,999.0,999.0,999.0,999.0,999.0
5642,c20c44766f28291,10,negative,0,0,0,NaN,NaN,NaN,NaN,...,999.0,999.0,999.0,999.0,999.0,999.0,999.0,999.0,999.0,999.0
5643,2697fdccbfeb7f7,19,positive,0,0,0,0.694287,0.541564,-0.906829,-0.325903,...,999.0,999.0,999.0,999.0,999.0,999.0,999.0,999.0,999.0,999.0

In [13]:
# Replace the missing values with average of an aggregation function
# mean, median, mode(categorical)
ms.impute_NA_with_avg(strategy = 'meadian', NA_col = col_ms_list)

,Patient ID,Patient age quantile,SARS-Cov-2 exam result,"Patient addmited to regular ward (1=yes, 0=no)","Patient addmited to semi-intensive unit (1=yes, 0=no)","Patient addmited to intensive care unit (1=yes, 0=no)",Hematocrit,Hemoglobin,Platelets,Mean platelet volume,...,Hb saturation (arterial blood gases),pCO2 (arterial blood gas analysis),Base excess (arterial blood gas analysis),pH (arterial blood gas analysis),Total CO2 (arterial blood gas analysis),HCO3 (arterial blood gas analysis),pO2 (arterial blood gas analysis),Arteiral Fio2,Phosphor,ctO2 (arterial blood gas analysis)
0,44477f75e8169d2,13,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,126e9dd13932f68,17,negative,0,0,0,0.236515,-0.022340,-0.517413,0.010677,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,a46b4402a0e5696,8,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,f7d619a94f97c45,5,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,d9e41465789c2b5,15,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5639,ae66feb9e4dc3a0,3,positive,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5640,517c2834024f3ea,17,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5641,5c57d6037fe266d,4,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5642,c20c44766f28291,10,negative,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5643,2697fdccbfeb7f7,19,positive,0,0,0,0.694287,0.541564,-0.906829,-0.325903,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
# Imputation with end of distribution
ms.impute_NA_with_end_of_distribution(NA_col = col_ms_list)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
# Imputation with random samples from other observation in each column
# here we will use the columns that has a rate of missing values < 80% (otherwise no samples are token)

ms.impute_NA_with_random(NA_col = col_ms_list, replace = True)

ValueError: a must be greater than 0 unless no samples are taken